.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form button, .form input{
    display: block;
    width: 20%;
    margin: 5px 0;
    padding: 10px;
    font-size: 15px;
}

.form select {
    display: block;
    width: 21vw;
    margin: 5px 0;
    padding: 10px;
    font-size: 15px;
}

.form label {
    margin-top: 4px;
}

.form input, .form select, .form button {
    border-radius: 10px;
    border: 1px solid black
}

.form button {
    border: 3px solid rgb(111, 231, 240);
    width: 14vw;
    background-color: rgb(198, 246, 255);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a, .get-average-age a, a.get-staff {
    text-align: center;
    display: inline-block;
    border: 3px solid rgb(111, 231, 240);
    width: 14vw;
    background-color: rgb(198, 246, 255);
    margin: 5px 0;
    padding: 6px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

header > nav > .logout > span, .get-average-age span {
    text-align: center;
    display: inline-block;
    border: 5px double rgb(111, 231, 240);
    width: 14vw;
    margin: 5px 0;
    padding: 6px;
    text-decoration: none;
    font-size: 1.2em;
}

.get-average-age {
    display: flex;
    align-items: center;
}

.get-average-age span{
    margin: 0 10px;
}

div.staff-wrapper {
    display: flex;
    justify-content: space-around;
}

.staff-wrapper form {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    width: 60vw;
    text-align: center;
    
}

.staff-wrapper form > * {
    margin: 6px 0;
}

.staff-wrapper form select, .staff-wrapper input[type='submit'] {
    display: block;
    padding: 6px 7px;
    font-size: 1.2em;
    color: rgba(52, 126, 126, 0.699);
    border: 2px solid rgba(70, 173, 173, 0.699);
    border-radius: 9px;
}

.staff-wrapper input[type='submit'] {
    color: black;
    background-color: rgb(202, 255, 255);
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-radius: 8px;
}

table, tr, td {
    padding: 5px;
    border: 3px solid rgba(150, 197, 197, 0.699);
    font-size: 1.1em;
}